/* Botões de Navegação */
.buttons-container {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 20px; /* Espaço entre os botões */
    padding: 20px;
    margin-top: 20px;
}

.button {
    background-color: #ff4d4d; /* Cor de fundo dos botões */
    color: #fff; /* Cor do texto dos botões */
    padding: 10px 20px; /* Espaçamento interno dos botões */
    border-radius: 4px; /* Bordas arredondadas */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
}

.button:hover {
    background-color: #ff6666; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Leve aumento de tamanho ao passar o mouse */
}
